<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="public/css/apple.css">
    <style type="text/css">
        
    </style>
    <script>
        
    </script>

</head>
<body>
    <div class="header-ads"><div class="w"><span><广告></span></div></div>
    <div class="header">
        <div class="w"><!--版心-->
            <a href=""><span></span></a>
            <a href="/mac"><span>Mac</span></a>
            <a href=""><span>iPad</span></a>
            <a href=""><span>iPhone</span></a>
            <a href=""><span>Watch</span></a>
            <a href=""><span>Music</span></a>
            <a href="" style="font-size: 13px;"><span>技术支持</span></a>
            <a href=""><span>🔍</span></a>
            <a href=""><span>🛍</span></a>
        </div>
    </div>
    <div class="temp-banner"><a href="">在线选购</a>，享受免费送货、Specialist专家支持、免息分期服务。</div>

    <ul>
        <li class="big-card" id="ipad_pro">
            <article>
                <h2>iPad Pro</h2>
                <h3>由Apple M1芯片强势驱动</h3>
                <div class="wrapper">
                    <a href="" style="text-align: right;">进一步了解<span>></span></a>
                    <a href="" style="text-align: center; position: relative; left: -20px;">购买<span>></span></a>
                </div>
            </article>
            <div class="w">
                <img src="/public/images/ipadpro.png" alt=""> 
            </div>
        </li>
        <li class="big-card" id="iphone_12">
            <article>
                <h2>iPhone 12</h2>
                <h3>升维大提速。</h3>
                <div class="recycle-wrapper">RMB 229/月或RMB 5499起，<br>还可折抵换购。</div>
                <div class="wrapper">
                    <a href="" style="text-align: right;">进一步了解<span>></span></a>
                    <a href="" style="text-align: center; position: relative; left: -20px;">购买<span>></span></a>
                </div>
            </article>
            <div class="w">
                <img src="/public/images/iphone12.png" alt=""> 
            </div>
        </li>
        <li class="big-card" id="imac">
            <article>
                <h2>iMac</h2>
                <h3>新开篇</h3>
                <div class="wrapper">
                    <a href="" style="text-align: right;">进一步了解<span>></span></a>
                    <a href="" style="text-align: center; position: relative; left: -20px;">购买<span>></span></a>
                </div>
            </article>
            <div class="w">
                <img src="/public/images/imac.png" alt=""> 
            </div>
        </li>
        <ul id="small-card-wrapper"><!--必须计算好大小-->
            <li class="small-card" style="margin-right: 0;" id="wwdc"><!--tmd，直接bgimg用起来！-->
                <article>
                    <h1>WWDC21</h1>
                    <h3>种种精彩已发布，欢迎大家围观。</h3>
                    <a href="">到美国官网观看主题演讲 ></a>
                </article>
            </li>
            <li class="small-card" id="iphone_12_pro">
                <article>
                    <h1>iPhone 12 Pro</h1>
                    <h3>自我再飞跃。</h3>
                    <div class="recycle-wrapper">RMB 229/月或RMB 5499起，<br>还可折抵换购。</div>
                    <div class="wrapper">
                        <a href="" style="text-align: right;">进一步了解<span>></span></a>
                        <a href="" style="text-align: center; position: relative; left: -20px;">购买<span>></span></a>
                    </div>
                </article>
            </li>
            <li class="small-card" style="margin-right: 0;" id="ipad_niubi">
                <article>
                    <h1 style="font-size: 3em;">iPad在手，<br>业务处处好开展。</h1>
                    <h3 style="position: relative; left: -5px;">一部 iPad 加上自定 app，让这家保险公司员工能随处服务客户、开拓业务。</h3>
                    <div class="wrapper">
                        <a href="" style="text-align: center">观看案例影片<span>></span></a>
                        <a href="" style="text-align: center; position: relative; left: -20px;">了解更多成功案例<span>></span></a>
                    </div>
                </article>
            </li>
            <li class="small-card" id="student_niubi">
                <article>
                    <h1 style="font-size: 3em; position: relative; left: 15px;">大学生，身手大提升。</h1>
                    <h3>借助Apple设备和技术，这名大二学生正向<br>专业的纪录片制作人迈进。</h3>
                    <div class="wrapper">
                        <a href="" style="text-align: center;">看看他的故事<span>></span></a>
                        <a href="" style="text-align: center; position: relative; left: -20px;">发掘高校得力装备<span>></span></a>
                    </div>
                </article>
            </li>
            <li class="small-card" id="apple_watch" style="margin-right: 0;">
                <article>
                    <h1>WATCH</h1>
                    <h5>SERIES 6</h5>
                    <h3>健康的未来，现在戴上</h3>
                    <div class="wrapper">
                        <a href="" style="position: relative; left: -10px;">进一步了解></a>
                        <a href="" style="position: relative; left: 5px;">购买></a>
                    </div>
                </article>
            </li>
            <li class="small-card" id="airtag">
                <article>
                    <h1>AirTag</h1>
                    <!-- <h5>SERIES 6</h5> -->
                    <h3>丢三落四这门绝技，要失传了。</h3>
                    <div class="wrapper">
                        <a href="" style="position: relative; left: -10px;">进一步了解></a>
                        <a href="" style="position: relative; left: 5px;">购买></a>
                    </div>
                </article>
            </li>
        </ul>
    </ul>
    <footer><!--flex直接横向布局-->
        <div class="w">
            <section>
                <div class="section-title">选购及了解</div>
                <a href="">Mac</a>
                <a href="">iPad</a>
                <a href="">iPhone</a>
                <a href="">Watch</a>
                <a href="">Music</a>
                <a href="">AirPods</a>
                <a href="">HomePod mini</a>
                <a href="">iPod touch</a>
                <a href="">AirTag</a>
                <a href="">配件</a>
                <a href="">App Store 充值卡</a>
            </section>
            <section>
                <div class="section-title">服务</div>
                <a href="">Apple Music</a>
                <a href="">iCloud</a>
                <a href="">Apple Pay</a>
                <a href="">App Store</a>
                <div class="section-title">账户</div>
                <a href="">管理你的 Apple ID</a>
                <a href="">Apple Store账户</a>
                <a href="">iCLoud.com</a>
            </section>
            <section>
                <div class="section-title">Apple Store 商店</div>
                <a href="">查找零售店</a>
                <a href="">在线选购</a>
                <a href="">Genius Bar 天才吧</a>
                <a href="">Today at Apple</a>
                <a href="">Apple 夏令营</a>
                <a href="">Apple Store App</a>
                <a href="">翻新与优惠</a>
                <a href="">分期付款</a>
                <a href="">Apple Trade in 换购计划</a>
                <a href="">订单状态</a>
                <a href="">选购帮助</a>
            </section>
            <section>
                <div class="section-title">商务应用</div>
                <a href="">Apple 与商务</a>
                <a href="">商务选购</a>
                <div class="section-title">教育应用</div>
                <a href="">Apple 与教育</a>
                <a href="">高校师生选购</a>
            </section>
            <section>
                <div class="section-title">Apple 价值观</div>
                <a href="">辅助功能</a>
                <a href="">环境责任</a>
                <a href="">隐私</a>
                <a href="">开发商责任</a>
            </section>
        </div>
    </footer>
</body>
</html>